In [9]:
import streamlit as st
import datetime as date
import yfinance as yf
import pandas_datareader as data

In [2]:
from plotly import graph_objs as go

In [7]:
start = "2015-01-01"
today = date.datetime.today().strftime("%Y-%m-%d")
print(today)

2022-05-17

In [11]:
df = data.DataReader('INFY' , 'yahoo',start,today)
df.head()

              High    Low    Open  Close      Volume  Adj Close
Date
2014-12-31  7.9875  7.850  7.9300  7.865   5498800.0   6.539760
2015-01-02  8.0600  7.915  8.0575  7.975  13401600.0   6.631225
2015-01-05  7.9350  7.835  7.9175  7.875  10076400.0   6.548074
2015-01-06  7.9250  7.695  7.8475  7.820  13290800.0   6.502341
2015-01-07  8.0475  7.845  7.8500  7.985  23202800.0   6.639540